<h1>アンケート詳細</h1>

<div class="container">
    
  <div class="card">
    <div class="card-body">
      <p><%= @question.content %></p>
    </div>
  </div>
  
  
  <% @choices.each do |choice| %>
    <div class="alert alert-dark" role="alert">
      <%= choice.content %>
     </div>
  <% end %>
</div>